.btn{
    &-danger{
        background-color: red;
    }

    &-warning{
        background-color: yellow;
    }

    &--visible{
        display:block;
    }

    &--hidden{
        display: none;
    }
    
}